.single-hotel-comp {
  width: 360px;
  margin: 0 20px 30px;
  border: 2px solid transparent;
}
.single-hotel-comp .hotel-photo {
  object-fit: cover;
  width: 100%;
  height: 360px;
  height: 270px;
}
.single-hotel-comp .hotel-info .name {
  text-align: center;
  font-size: 24px;
}
.single-hotel-comp .hotel-info .short-descr {
  border-top: 2px solid black;
}
